// Global fonts
$default-font-family: -apple-system, BlinkMacSystemFont, sans-serif;

$default-font-size-h1: 34px;
$default-font-size-h2: 24px;

$default-body-font-size: 16px;

$default-small-font-size: 15px;

$default-smaller-font-size: 13px;

$default-button-font-size: 17px;