<div class="header-container" [ngClass]="{'hide': !showHeader, 'activated': menuToggled === true}" >
  <header class="header container">
      <nav>
        <ul class="nav-left">
          <!-- <li><img src="favicon.ico" alt="Social boost icon" id="logo" [routerLink]="['/']" fragment="home" height="68px" width="68px"></li> -->
          <li><h1 id="logo-text" [routerLink]="['/']" fragment="home">Book Vitals</h1></li>
        </ul>
        <ul class="nav-right full" [ngClass]="{'activated': menuToggled === true}">
          <li><a [routerLink]="['/']" fragment="mission" (click)="toggleMenu()">Mission</a></li>
          <li><a [routerLink]="['/']" fragment="products" (click)="toggleMenu()">Products</a></li>
          <li><a [routerLink]="['/']" fragment="team" (click)="toggleMenu()">Team</a></li>
          <li><a [routerLink]="['/']" fragment="contact" (click)="toggleMenu()">Contact</a></li>
        </ul>
        <ul class="nav-right burger" (click)="toggleMenu()">
          <li><img [src]="burgerSrc" alt="Burger menu icon" width="60px" height="60px"></li>
        </ul>
      </nav>
  </header>
</div>