<div class="background-container">
  <div class="hero-section" id="home" [ngClass]="{'hide-section': !showScroll}" #home>
    <div class="header-container">
      <header class="header">
          <nav>
            <ul class="nav-left">
              <!-- <li><img src="favicon.ico" alt="Social boost icon" id="logo" [routerLink]="['/']" height="68px" width="68px"></li> -->
              <li><h1 class="logo-text" [routerLink]="['/']">Book Vitals</h1></li>
            </ul>
            <ul class="nav-right full" [ngClass]="{'activated': menuToggled === true}">
              <li><a [routerLink]="['.']" fragment="mission" (click)="toggleMenu()">Mission</a></li>
              <li><a [routerLink]="['.']" fragment="products" (click)="toggleMenu()">Products</a></li>
              <li><a [routerLink]="['.']" fragment="team" (click)="toggleMenu()">Team</a></li>
              <li><a [routerLink]="['.']" fragment="contact" (click)="toggleMenu()">Contact</a></li>
              <!-- <li><a [routerLink]="['.']" fragment="email" (click)="toggleMenu()">Get in touch</a></li> -->
              <li><a [routerLink]="['/career']"(click)="toggleMenu()">Career</a></li>
              <!-- <li><a [routerLink]="['/financing']"(click)="toggleMenu()">Financing</a></li> -->
            </ul>
            <ul class="nav-right burger" (click)="toggleMenu()">
              <li><img [src]="burgerSrc" alt="Burger menu icon" width="60px" height="60px"></li>
            </ul>
          </nav>
      </header>
    </div>
    <div class="lottie-container" id="center">
      <ng-lottie [options]="heroLottieOptions"></ng-lottie>
    </div>
    <div id="circular-text">
      <h1>{{ toptext }}</h1> 
      <p class="smaller-text">{{ bottomTextFirst }}<br>{{ bottomTextSeconds }}</p>
    </div>
    <button id="scroll-btn" [routerLink]="['.']" fragment="mission" [attr.aria-label]="scrollBtnText" *ngIf="showScroll"></button>
  </div>
</div>

<div class="header-container sliding-nav" [ngClass]="{'hide': !showHeader, 'activated': menuToggled === true}" >
  <header class="header container">
      <nav>
        <ul class="nav-left">
          <!-- <li><img src="favicon.ico" alt="Social boost icon" id="logo" [routerLink]="['/']" fragment="home" height="68px" width="68px"></li> -->
          <li><h1 id="logo-text" [routerLink]="['/']" fragment="home">Book Vitals</h1></li>
        </ul>
        <ul class="nav-right full" [ngClass]="{'activated': menuToggled === true}">
          <li><a [routerLink]="['.']" fragment="mission" (click)="toggleMenu()">Mission</a></li>
          <li><a [routerLink]="['.']" fragment="products" (click)="toggleMenu()">Products</a></li>
          <li><a [routerLink]="['.']" fragment="team" (click)="toggleMenu()">Team</a></li>
          <li><a [routerLink]="['.']" fragment="contact" (click)="toggleMenu()">Contact</a></li>
          <!-- <li><a [routerLink]="['.']" fragment="email" (click)="toggleMenu()">Get in touch</a></li> -->
          <li><a [routerLink]="['/career']" (click)="toggleMenu()">Career</a></li>
          <!-- <li><a [routerLink]="['/financing']" (click)="toggleMenu()">Financing</a></li> -->
        </ul>
        <ul class="nav-right burger" (click)="toggleMenu()">
          <li><img [src]="burgerSrc" alt="Burger menu icon" width="60px" height="60px"></li>
        </ul>
      </nav>
  </header>
</div>