<div class="background-container">
  <div class="hero-section" id="home" #home>
    <div class="header-container">
      <header class="header">
          <nav>
            <ul class="nav-left">
              <!-- <li><img src="favicon.ico" alt="Social boost icon" id="logo" [routerLink]="['/']" height="68px" width="68px"></li> -->
              <li><h1 class="logo-text" [routerLink]="['/']">Book Vitals</h1></li>
            </ul>
            <ul class="nav-right full" [ngClass]="{'activated': menuToggled === true}">
              <li><a [routerLink]="['.']" fragment="mission" (click)="toggleMenu()">Mission</a></li>
              <li><a [routerLink]="['.']" fragment="products" (click)="toggleMenu()">Products</a></li>
              <li><a [routerLink]="['.']" fragment="team" (click)="toggleMenu()">Team</a></li>
              <li><a [routerLink]="['.']" fragment="contact" (click)="toggleMenu()">Contact</a></li>
            </ul>
            <ul class="nav-right burger" (click)="toggleMenu()">
              <li><img [src]="burgerSrc" alt="Burger menu icon" width="60px" height="60px"></li>
            </ul>
          </nav>
      </header>
    </div>
    <div class="lottie-container" id="center">
      <ng-lottie [options]="heroLottieOptions"></ng-lottie>
    </div>
    <div id="circular-text">
      <h1>Stories With a Heartbeat.</h1> 
      <p class="smaller-text">We build AI-powered apps that redefine how <br>the next generation of readers interact with books.</p>
    </div>
    <button id="scroll-btn" [routerLink]="['.']" fragment="mission" aria-label="Scroll Down"></button>
  </div>
</div>
<div class="mission-section" #mission id="mission">
  <p class="gradient">Our Mission</p>
  <h1 class="section-title">To create personalized AI study experiences.</h1>
  <img src="assets/img/purple-blob.webp" width="400px" height="400px" alt="Purple blob" id="blob-image" #blobImage [style.transform]="'translateY(' + (blobScrollPercent) + '%)'">
  <div class="mission-cards">
    <div class="mission-card">
      <!-- <h1>Elevating the Reading Experience</h1> -->
      <p class="mission-text">
        Our mission is to use AI to transform the way students, spiritual seekers, and entrepreneurs study books. Grounded in our belief that the next decade will witness a revolution in education through AI-driven software, we aim to pioneer this change. We're committed to creating AI-powered apps that personalize content, gauge engagement, measure understanding, and provide immediate feedback. Above all, we strive to understand and respond to the unique motivation triggers of each learner, truly enhancing and personalizing the study experience for diverse learners.
      </p>
    </div>
    <!-- <div class="mission-card">
      <h1>AI-Enhanced Exploration of Sacred Texts</h1>
      <p class="mission-text">
        Our mission is to use AI to transform the way students, spiritual seekers, and entrepreneurs study books. Grounded in our belief that the next decade will witness a revolution in education through AI-driven software, we aim to pioneer this change. We're committed to creating AI-powered apps that personalize content, gauge engagement, measure understanding, and provide immediate feedback. Above all, we strive to understand and respond to the unique motivation triggers of each learner, truly enhancing and personalizing the study experience for diverse learners.
      </p>
    </div> -->
  </div>
</div>
<div class="products-section" #products id="products">
  <div class="gradient-top"></div>
  <div class="gradient-bottom"></div>
  <!-- <div class="rotated-text-container">
    <div class="rotate-text">
      <h1 class="gradient">Our Products</h1>
    </div>
  </div> -->
  <div class="basmo-container">
    <div class="basmo" (click)="goToWebsite('https://basmo.app/')">
      <h1>Basmo</h1>
      <img src="assets/img/products/basmo-phone.webp" alt="Basmo App Screenshot" class="product-image" *ngIf="showProducts" height="611px" width="338px">
      <div class="ribbon ribbon-top-right"><span>Explore</span></div>
      <div class="bottom-div" (click)="doNothing($event)">
        <h2>Study popular books</h2>
        <p>Become the ultimate reader with Basmo’s AI Chatbot.</p>
        <a href="https://apps.apple.com/us/app/basmo-book-reading-tracker/id1542456934"><img src="assets/img/download-app-store-2x.webp" alt="Download the iOS Basmo app" width="170px" height="56.66px"></a>
      </div>
    </div>
  </div>
  <div class="bibleChat-container">
    <div class="bibleChat" (click)="goToWebsite('https://thebiblechat.app/')">
      <h1><span class="highlight">Bible</span> Chat</h1>
      <img src="assets/img/products/bible-chat-v2.webp" alt="Bible Chat App Screenshot" class="product-image" *ngIf="showProducts" height="600px" width="320px">
      <div class="ribbon ribbon-top-right"><span>Explore</span></div>
      <div class="bottom-div" (click)="doNothing($event)">
        <h2>Study the Bible</h2>
        <p>Interactive Bible Learning. Powered by the Most Advanced AI.</p>
        <a href="https://apps.apple.com/us/app/bible-study-ai-chatbot-memory/id6448849666"><img src="assets/img/download-app-store-2x.webp" alt="Download the iOS Bible Chat app"  width="170px" height="56.66px"></a>
      </div>
    </div>
  </div>
</div>
<div class="team-section" id="team" #team itemscope itemtype="https://schema.org/Organization">
  <div class="team-div">
    <p class="gradient">Meet Our</p>
    <h1 class="section-title">Crew of Innovators</h1>
    <hr>
    <div class="team-portraits">
      <div class="portraits desktop"  itemscope itemtype="https://schema.org/Person">
        <ng-container itemprop="employee" itemscope itemtype="https://schema.org/Person" *ngFor="let portrait of portraitsTop"> 
          <img class="portrait" [src]="'assets/img/portraits/' + portrait.image" [alt]="'Portrait ' + portrait.name" width="130px" height="130px">
          <div class="aditional-data" style="display: none;">
            <p itemprop="name">{{ portrait.name }}</p>
            <p itemprop="jobTitle">{{portrait.occupation}}</p>
          </div>
        </ng-container>
      </div>
      <div class="portraits desktop">
        <ng-container itemprop="employee" itemscope itemtype="https://schema.org/Person" *ngFor="let portrait of portraitsBottom"> 
          <img class="portrait" [src]="'assets/img/portraits/' + portrait.image" [alt]="'Portrait ' + portrait.name" width="130px" height="130px">
          <div class="aditional-data" style="display: none;">
            <p itemprop="name">{{ portrait.name }}</p>
            <p itemprop="jobTitle">{{portrait.occupation}}</p>
          </div>
        </ng-container>

      </div>
      <div class="portraits mobile">
        <ng-container itemprop="employee" itemscope itemtype="https://schema.org/Person" *ngFor="let portrait of allPortraits"> 
        <img class="portrait" [src]="'assets/img/portraits/' + portrait.image" [alt]="'Portrait ' + portrait.name" width="100px" height="100px">
        <div class="aditional-data" style="display: none;">
          <p itemprop="name">{{ portrait.name }}</p>
          <p itemprop="jobTitle">{{portrait.occupation}}</p>
        </div>
      </ng-container>
      </div>
    </div>
    <p class="secondary-text">Our crew is a mixture of dedicated professionals, fueled by a shared passion for literature and an in-depth understanding of AI.<br> They champion our mission to reshape the way books are studied, catering to diverse learners. United, we wield the power of AI to usher in a new era of personalized, engaging, and motivational book learning experiences.</p>
  </div>
  <div class="team-gallery" #teams>
    <div class="gradient-top"></div>
    <div class="gradient-bottom"></div>
    <div class="scroll-up-gallery" [style.transform]="'translateY(' + (galleryScrollPercent - 105) + '%)'">
      <img class="card-img" src="assets/img/team/presentation.webp" alt="Giving Presentation" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/birthday.webp" alt="Office Birthday Picture" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/working-pc.webp" alt="Working On The PC" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/working.webp" alt="OWorking From The Couch" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/break-time.webp" alt="Break Time" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/presentation.webp" alt="Giving Presentation" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/birthday.webp" alt="Office Birthday Picture" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/working-pc.webp" alt="Working On The PC" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/working.webp" alt="OWorking From The Couch" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/break-time.webp" alt="Break Time" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/presentation.webp" alt="Giving Presentation" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/birthday.webp" alt="Office Birthday Picture" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/working-pc.webp" alt="Working On The PC" height="250px" width="440px">
    </div>
    <div class="scroll-down-gallery desktop" [style.transform]="'translateY(' + (-250 - galleryScrollPercent ) + '%)'">
      <img class="card-img" src="assets/img/team/presentation.webp" alt="Giving Presentation" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/birthday.webp" alt="Office Birthday Picture" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/working-pc.webp" alt="Working On The PC" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/working.webp" alt="OWorking From The Couch" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/break-time.webp" alt="Break Time" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/presentation.webp" alt="Giving Presentation" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/birthday.webp" alt="Office Birthday Picture" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/working-pc.webp" alt="Working On The PC" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/working.webp" alt="OWorking From The Couch" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/break-time.webp" alt="Break Time" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/presentation.webp" alt="Giving Presentation" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/birthday.webp" alt="Office Birthday Picture" height="250px" width="440px">
      <img class="card-img" src="assets/img/team/working-pc.webp" alt="Working On The PC" height="250px" width="440px">
    </div>
  </div>
</div>

<div class="contact-section" #contact id="contact">
  <div class="gradient-top"></div>
  <p class="gradient">Have a Question?</p>
  <h1 class="section-title">Get In Contact</h1>

  <img src="assets/img/envelope-back.webp" alt="Envelope back" class="envelope-back" height="660px" width="1000px">
  <img src="assets/img/envelope-front.webp" alt="Envelope front" class="envelope-front" height="660px" width="1000px">
    

  <div class="contact-form">
    <form action=" " [style.transform]="'translateY(' + (formScrollPercent) + '%)'">
      <!-- <h1>Contact form</h1> -->
      <label for="name">Name:</label>
      <input type="text" name="name" id="name">
      <label for="email">Email:</label>
      <input type="text" name="name" id="email">
      <label for="subject">Subject:</label>
      <input type="text" name="name" id="subject">
      <label for="message"> Message:</label>
      <textarea type="text" name="name" id="message" rows="1"></textarea>
      <button>Send</button>
    </form>
  </div>
</div>