<div class="background-container">
  <div class="footer-container">
    <footer>
      <div class="top-section">
        <div class="left">
          <h1>Book Vitals</h1>
          <p>Revitalize your reading. </p>
          <p>Embrace AI.</p>
        </div>
        <div class="center-left desktop">
          <h2>Nav</h2>
          <ul class="nav">
            <li><a [routerLink]="['.']" fragment="mission">Mission</a></li>
            <li><a [routerLink]="['.']" fragment="products">Products</a></li>
            <li><a [routerLink]="['.']" fragment="team">Team</a></li>
            <li><a [routerLink]="['.']" fragment="contact">Contact</a></li>
            <li><a [routerLink]="['/career']">Career</a></li>
          </ul>
        </div>
        <div class="center-right desktop">
          <h2>Legal</h2>
          <ul>
            <li><a href="https://basmo.app/privacy-policy/">Privacy</a></li>
              <li><a href="https://basmo.app/terms-and-conditions/">Terms</a></li>
          </ul>
        </div>
        <div class="center mobile">
          <div class="center-left">
            <h2>Nav</h2>
            <ul class="nav">
              <li><a [routerLink]="['.']" fragment="mission">Mission</a></li>
              <li><a [routerLink]="['.']" fragment="products">Products</a></li>
              <li><a [routerLink]="['.']" fragment="team">Team</a></li>
              <li><a [routerLink]="['/']" fragment="contact">Contact</a></li>
              <li><a [routerLink]="['/career']">Career</a></li>

            </ul>
          </div>
          <div class="center-right">
            <h2>Legal</h2>
            <ul>
              <li><a href="https://basmo.app/privacy-policy/">Privacy</a></li>
              <li><a href="https://basmo.app/terms-and-conditions/">Terms</a></li>
            </ul>
          </div>
        </div>
        <div class="right">
          <h2>Follow us</h2>
          <div class="social">
            <a href="https://basmo.app/"><img src="assets/img/social/instagram-big-icon-white.webp" alt="Book Vitals on Instagram" class="product-image" width="50px" height="50px"></a>
            <a href="https://basmo.app/"><img src="assets/img/social/tiktok-big-icon-white.webp" alt="Book Vitals on TikTok" class="product-image" width="50px" height="50px"></a>
            <a href="https://basmo.app/"><img src="assets/img/social/twitter-big-icon-white.webp" alt="Book Vitals on Twitter" class="product-image" width="50px" height="50px"></a>
            <a href="https://basmo.app/"><img src="assets/img/social/youtube-big-icon-white.webp" alt="Book Vitals on Youtube" class="product-image" width="50px" height="50px"></a>
          </div>
        </div>
      </div>
      <div class="bottom-section">
        <div class="left">© 2023 BookVitals</div>
        <div class="right"></div>
      </div>
    </footer>
  </div>
</div>